<h3>メッセージ設定の編集</h3>

<%= form_with model: @message, url: message_path(@message.id), local: true do |f| %>

  <div class="weight-bold-text">
    宛名
  </div>
  <%= f.text_field :to, class:"items-text", id:"item-name", placeholder:"宛名（「～～様へ」etc..）" %>

  <div class="weight-bold-text">
    送り主
  </div>
  <%= f.text_field :from, class:"items-text", id:"item-name", placeholder:"あなたの名前" %>

  <div class="weight-bold-text">
    日付
  </div>
  <%= f.text_field :date, class:"items-text", id:"item-name", placeholder:"「令和○年○月吉日」etc.." %>

  <div class="weight-bold-text">
    コメントの許可
  </div>
  <%= f.select :permit_comment, [["許可", "true"], ["許可しない", "false"]],class:"items-text", id:"item-name" %>
  <br><br>
  <%= f.submit "設定の更新" ,class:"sell-btn" %>
  <br><br>
  <%= link_to 'もどる', root_path %>
  <br><br>
  <%= link_to "このメッセージの削除", message_destroy_confirm_path(@message.id) %>
<% end %>

