
<% if user_signed_in? %>
  <%= current_user.nickname %> さん<br>
  ＱＲメッセージ へようこそ！
  　<%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" %>
  <br>
    
<% else %>
  <%= link_to 'ログイン', new_user_session_path, class: "login" %>
  <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
<% end %>

<br>

<div>
  <b>　メッセージ一覧</b>
  <% if user_signed_in? %>
    　<%= link_to 'メッセージの新規作成', new_message_path %>
  <% end %>  
</div>
  <ul>
  <% @messages.each do |msg| %>
    <li>
    <%= link_to msg.to, message_path(msg.id) %>
    </li>
  <% end %>
  </ul>

<br>
<br>他のユーザー
  <ul>
  <% @users.each do |u| %>
    <li>
    <%= link_to u.email, "/user_show/#{u.id}" %>
    </li>
  <% end %>
  </ul>
