
<div class = "main-box">
  <h3>メッセージ詳細</h3> 
  <div class = "sub-box">
    <div>
      宛名：<%= @message.to %>
    </div>

    <div>
      送り主：<%= @message.from %>
    </div>
 
    <div>
      日付：<%= @message.date %>
    </div>
 
    <div>
      コメントの許可：<%= @message.permit_comment %>
    </div>

    <%= link_to "＜メッセージ設定の変更＞", edit_message_path(@message.id) %>

    <% if @letters.count != 0 %>
      <% i = 1 %>
      <% @letters.each do |l| %>
      <br>
      <div class = "letter-title">
        <%= "【メッセージ #{i}】" %>
        <%= link_to "〈編集〉", edit_message_letter_path(@message.id, l.id) %>
      </div>  
      <% i += 1 %>
      <div>
        <%= simple_format(l.text) %>
      </div>
      <% end %>
    <% end %>

  </div>  

  <%= form_with model: @letter, url: message_letters_path(@message.id), local: true do |f| %>

  <div class = "main-box">
    <div class = "message-title">メッセージ</div>
    <%= f.text_area :text, class: "message-area",  placeholder:"ここにメッセージを記入してください" %>
    <br>
    <%= f.submit "メッセージを追加する" %>
  </div>
  
  <br>
  <div class = "main-box">
    <br>
    <%= link_to "もどる", root_path %>
    <br>
    <%= link_to "実演表示(1)", message_display_path(@message.id), target: :_blank, rel: "noopener noreferrer" %>
    <br>
    <%= link_to "実演表示(2)", guest_path(@message.id), target: :_blank, rel: "noopener noreferrer" %>
    <br>
  </div>  

<% end %>
<div>