
<div class = "main-box">
  <h3>あなたへのメッセージ</h3> 
  <div class = "sub-box">
    <div><%= @message.to %></div>
    <br>
    <% if @letters.count != 0 %>
      <% @letters.each do |l| %>
      <div><%= simple_format(l.text) %></div>
      <% end %>
    <% end %>
    <div><%= "#{@message.from} より" %></div>
    <div><%= @message.date %></div>
  </div>

  <% if @comments.count != 0 %>
    <h3>返信</h3> 
    <% @comments.each do |c| %>
      <% if c.from == "あなた" %>
        <% s_class = "sub-box2" %>
      <% else %>
        <% s_class = "sub-box" %>
      <% end %>
      <div class = <%= s_class %>>
        <div><%= simple_format(c.text) %></div>
        <div><%= "　　#{c.from}　#{c.created_at}" %></div>
      </div>
      <br>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
  <div class = "main-box">
    <br>
    ↓ アクセスするとメッセージが出るよ ↓
    <div><%= qrcode_tag request.url, module_size: 4 %></div>
    ユーザ名：saito　パスワード：9999
    <br>
  </div>  
  <% end %>

  <% if flash[:notice] %>
    <script>
      alert("<%= j flash[:notice] %>");
    </script>
  <% end %>

  <%= form_with model: @comment, url: message_comments_path(@message.id), local: true do |f| %>

  <div class = "main-box">
    <div class = "message-title">返信</div>
    <%= f.text_area :text, class: "message-area",  placeholder:"ここにメッセージを記入してください！" %>
    <br>
    <%= f.submit "送信する" %>
  </div>

  <% if user_signed_in? %>
    <% from = @message.from %>
  <% else %>
    <% from = "あなた" %>
  <% end %>

  <div class = "hidden">
    <%= f.text_field :from, value: from %>  
  </div>

  <% end %>
<div>